<!doctype html>
<html>
  <head>
    <title>{{ title }} | sudokGO</title>
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    
  <header>
      {{header|safe}}
  </header>
    
    <div class="container">
      <div class="jumbotron">
        
        <div class="row" id="row-username">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            
            <form id="username-form">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" autocomplete="off">
              </div>

              <button class="btn btn-danger">Create A Room</button>
            </form>
          </div>
        </div>

        <div class="row hide" id="row-msg">
          <div class="col-xs-12 col-md-6 col-md-offset-3">

            <div id="msg-cnt"></div> <!-- messages added automatically -->

            <form id="chat-form" class="form-inline">
              <div class="input-group">
                <input type="text" class="form-control" id="message" placeholder="send message" autocomplete="off">
                <span class="input-group-btn">
                  <button class="btn btn-success">Send</button>
                </span>
              </div>
            </form>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
          <button class="btn btn-primary" id="printstats">Click to Print (to console or server logs)</button>
        </div> 
      </div>
    </div>

    <!-- javascript at end of body for better load times -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery-1.11.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="client.js"></script>

  </body>
</html>
