<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }} | sudokGO</title>

    {% block head %}
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-switch.min.css" >
    <link rel="stylesheet" href="main.css">

    {% endblock %}
  </head>

<body> 

  <header>
      {{header|safe}}
  </header>
    {% block content %}  {% endblock %}

  <!-- javascript at end of body for better load times -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="jquery-1.11.2.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="bootstrap/js/bootstrap-switch.min.js"></script>
  <script src="client.js"></script>
  <script src="js/board.js"></script>
  <script src="js/timer.js"></script>
  <script src="js/validate.js"></script>
  <script src="js/handle_entry.js"></script>



  </body>
</html>
