{% extends 'layout.html' %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="single_player.css">
{% endblock %}

{% block content %}
    
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-sm-6" id = "sudokuBoard">
                <div class = "col-md-12">
                    <table id = "sudokuTable" style="margin: auto"> <!-- fix this later -->
                    </table>
                </div>
            </div>
        </div>
      
      <!-- <div class="jumbotron">
        
        <div class="row" id="row-username">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            
            <form id="username-form">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" autocomplete="off">
              </div>

              <button class="btn btn-danger">Create A Room</button>
            </form>
          </div>
        </div>

        <div class="row hide" id="row-msg">
          <div class="col-xs-12 col-md-6 col-md-offset-3">

            <div id="msg-cnt"></div> <!-- messages added automatically //

            <form id="chat-form" class="form-inline">
              <div class="input-group">
                <input type="text" class="form-control" id="message" placeholder="send message" autocomplete="off">
                <span class="input-group-btn">
                  <button class="btn btn-success">Send</button>
                </span>
              </div>
            </form>
          </div>
        </div> -->

      </div>

      <div class="row margin-top-10">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
          <button class="btn btn-success" id="join">Join Game</button>
          <button class="btn btn-success" id="invite">Inite Friend</button>
        </div> 
      </div>

      <div class="row margin-top-10">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
          <button class="btn btn-primary" id="printstats">Click to Print (to console or server logs)</button>
        </div> 
      </div>

    </div> <!-- .container -->

    <!-- javascript at end of body for better load times -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery-1.11.2.min.js"></script>

  </body>
</html>


{% block js %}
<script src="client_2p.js"></script>
{% endblock %}