{% extends 'layout.html' %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="single_player.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h2><span class="label label-primary" id = "timer">00:00</span> 
                <button type="button" id="pause_play_btn" class="btn btn-default" onclick="toggleClock()"><span id = "pause_play" class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
                <div class="btn-group">
                    <button type="button" id = "undo_btn" class="btn btn-default" onclick="undo()"><span id = "undo" class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
                    <button type="button" id = "redo_btn" class="btn btn-default" onclick="redo()"><span id = "redo" class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
                </div> 
                </h2> 
            </div>
        </div>
        <div class = "row">
            <div class="col-sm-5 col-sm-offset-3" id = "sudokuBoard">
                <table id = "sudokuTable">
                </table>
            </div>
            <div class = "col-sm-1">
                <table id = "numPad">
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-7">
                <div class = "row margin-top-05">
                    <button type="button" class="btn btn-primary" onclick="solveBoard();">
                          Solve Board
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quitModal" onclick="stopClock();">
                      Quit Game
                    </button>
               </div>
            </div>
        </div>
    </div>           
                <!--START MODAL -->
                <div class="modal fade" id="startModal" tabindex="-1" role="dialog" aria-labelledby="startLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="startLabel">New Game</h4>
                      </div>
                      <div class="modal-body">
                            <p>Currently only Easy Mode is implemented</p>
                            <button type="checkbox" class="btn btn-default" id="easy">Easy</button>
                            <!--<button type="checkbox" class="btn btn-warning disabled" id="med">Medium</button>
                            <button type="checkbox" class="btn btn-danger disabled" id="hard">Hard</button> -->
                      </div>
                      <div class="modal-footer">
                        <button id = "new" class="btn btn-default" data-dismiss="modal" onclick="fillBoard(); startClock();">Start</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--START MODAL END-->
                <!--QUIT MODAL -->
                <div class="modal fade" id="quitModal" tabindex="-1" role="dialog" aria-labelledby="quitLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="quitLabel">Quit Game?</h4>
                      </div>
                      <div class="modal-body">
                        Are you sure you would like to quit?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="restartClock();">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="clearBoard(), showNewGameModal();">Yes</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--QUIT MODAL END-->

                <!--Finish Modal -->
                <div class="modal fade" id="finishModal" tabindex="-1" role="dialog" aria-labelledby="finishLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="quitLabel">Congrats!</h4>
                            </div>
                            <div class="modal-body" id="time">
                                You finished in 
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Enter username for leaderboard: </span>
                                <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" id = "nameForLeaderboard">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cancelNameForLeaderboard()">Cancel</button>
                                <button type="button" class="btn btn-primary" id = "submitTime" data-dismiss="modal" >Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
  <script src="client_1p.js"></script>
{% endblock %}
