body {
    padding-top: 16px;
}

* {
    font-family: RobotoDraft;
}

#msg-cnt {
    height: 400px;
    overflow: scroll;
}

.chat-other {
    float: left;
    max-width: 67%;
}

.chat-you {
    float: right;
    max-width: 67%;
}
