/*By: Team GO*/

/*SUDOKU PUZZLE START*/
@media only screen and (max-width: 780px) {
  input {
    width: 1.2em;
    height: 1.2em; 
  } 
}
@media only screen and (max-width: 479px) {
  input {
    width: 1em;
    height: 1em;
    font-size: 1em; 
  }
}

#undo {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

#startModal label, #startModal input {
    height: 40px;
    width: 150px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5965B2;
    border-color: #5965B2;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#startModal input[type="radio"] {
    opacity:0.01;
    z-index:100;
}

#startModal input[type="radio"]:checked + label,
.Checked + label {
    color: #fff;
    background-color: #26327F;
    border-color: #26327F;
}

#startModal label {
    padding:5px;
    border:1px solid #CCC; 
    cursor:pointer;
    z-index:90;
}

#startModal label:hover {
    color: #fff;
    background-color: #303F9F;
    border-color: #303F9F;
}

.btn {
  outline: none;
}








